@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/*body {
    background-image: url(imagens/fundo-site.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
}*/


